extends layout
block content
 #banner.page-header
     .row
         .col-md-6.col-sm-12
             h1= title
 .row
     .col-md-12.col-sm-12
         p 
          | Loc8r was created to help people find places to sit down and get a `bit of work done. 
          | <br /><br /> 
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan.
         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit omnis cum tenetur delectus eveniet cupiditate molestias quidem distinctio repellat. Voluptates ut earum laudantium a est perferendis! Nemo molestias distinctio quia.
         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente iste iure consequuntur minus! Repudiandae aperiam accusamus itaque inventore incidunt veritatis quis nisi ipsum, impedit veniam dolor molestias molestiae. Necessitatibus sunt possimus voluptates non deleniti magnam consectetur provident nesciunt quisquam consequuntur omnis placeat quasi, suscipit, voluptatum ipsa quia ex, enim natus. Atque, modi? Laborum labore cum voluptatem, ipsam eos fugit quod libero a debitis neque, quaerat incidunt vitae?`